{% extends 'base.html' %}
{% block title %}Terms Of Service{% endblock title %}
{% block content %}

<h1>
  <br>
  <br>
Data We Collect
</h1>
<h2>Updated: Feb 20, 2019</h2>
<p>
  While we don't harvest any data (Except that provided in registration)
from our users we retain the right to do so.
IF in the future we decide to collect data we will make this change apparent to our users.
However, your actions on this website are/may be tracked by Django or Google.
</p>
<h1>
How we make money
</h1>
<h2>Updated: Feb 20, 2019</h2>
<p>
Currently we don't make any money, but we have plans in the future to do so.
We are hoping to partner with Google Adsense (The easiest option for small buisness)
to increase revenue.
</p>
<h1>Others Involved</h1>
<h2>Updated: Feb 20, 2019</h2>
<p>
Companies or Organizations used in the creation of this application include: <br>
Heroku (A Salesforce Company) <br>
Google <br>
Django <br>
Python Organization <br>
PyPI <br>
Django-Crispy-Forms / Django-Bootstrap4 <br>
(Indirectly) Bootstrap
</p>
{% endblock content %}
