{% extends 'polls/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
  <br>
  <br>

  <h1>{{ poll.question }}</h1>

  {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

  <form action="{% url 'polls:vote' poll.id %}" method="post">
  {% csrf_token %}
  {% for choice in poll.choice_set.all %}
      <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}" />
      <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br />
  {% empty %}
  <h2>Reload in a sec. when the creator has time to make choices!</h2>
  {% endfor %}
  <br>
  <br>
  <input class="btn btn-success" type="submit" value="Vote" />
  </form>
  <br>
  <br>
{% if user.is_authenticated and user.username == poll.author.username %}
    <h2>Add a new choice</h2>
    <form class="commen_form" action="." method="post">
        {% csrf_token %}
        {{ choice_form|crispy }}
        <input class="btn btn-success" type="submit" value="Add Choice" />
    </form>
  {% endif %}
  <br>
  <a href="{% url 'polls:results' poll.id %}">I don't want to vote take me to the results</a>
{% endblock %}
</div>
