{% extends 'base.html' %}
{% block title %}Posts{% endblock title %}
{% block content %}
<br>
<div class="alert alert-success" role="alert">
  You can now format text in your post, meaning if you type this: <br> Me: Vik is awesome <br> Everyone: Yeah <br> it won't come out as: <br> Me: I love vik Everyone: Yeah
</div>
{% for article in object_list %}

<br>
<br>
<div class="card">
    <div class="card-header">
      <span class="font-weight-bold">{{article.title}} &middot; </span>
      <span class="text-muted">{{article.author}} | {{article.date}}</span>
    </div>
    <div class="card-body">
      {{article.body|linebreaks}}
    </div>
    <div class="card-footer text-center text-muted">
      <a href="{% url 'article_edit' article.pk %}">Edit</a> | <a href="{% url 'article_delete' article.pk %}">Delete</a> | <a href="{% url 'comment_create' article.id %}">Comment</a>
      <br>
      {% for comment in article.comments.all %}
      <br>
      <p>
      <span class="font-weight-bold">{{comment.author}} &middot; </span>
      {{comment}}
      </p>
      {% endfor %}
    </div>
</div>

<br/>
{% endfor %}
{% endblock content %}
