<!DOCTYPE html>
<html lang="en" prefix="og: http://ogp.me/ns#">
  <head>
    <meta charset="utf-8">
    <!-- Django Static Files -->
    {% load static %}
    {% block head %}

    {% endblock head %}
    <title>{% block title %}Vik{% endblock title %}</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.png' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="apple-touch-icon" href="{% static 'favicon.png' %}">
    <!-- Bootstrap CSS -->
    {# Load the tag library #}
    {% load bootstrap4 %}
    {# Load CSS and JavaScript #}
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}

    {# Display django.contrib.messages as Bootstrap alerts #}
    {% bootstrap_messages %}
    <!-- Jquery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2/dist/semantic.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2/dist/components/visibility.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2/dist/components/video.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2/dist/components/transition.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2/dist/components/tab.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2/dist/components/sticky.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2/dist/components/site.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2/dist/components/sidebar.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2/dist/components/shape.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2/dist/components/search.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2/dist/components/rating.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2/dist/components/progress.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2/dist/components/accordion.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2/dist/components/api.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2/dist/components/checkbox.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2/dist/components/dimmer.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2/dist/components/dropdown.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2/dist/components/embed.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2/dist/components/form.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2/dist/components/modal.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2/dist/components/modal.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2/dist/components/nag.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2/dist/components/popup.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2/dist/semantic.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2/dist/components/message.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2/dist/components/button.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2/dist/components/card.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2/dist/components/video.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2/dist/components/transition.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2/dist/components/table.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2/dist/components/tab.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2/dist/components/sticky.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2/dist/components/step.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2/dist/components/statistic.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2/dist/components/site.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2/dist/components/sidebar.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2/dist/components/shape.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2/dist/components/segment.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2/dist/components/search.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2/dist/components/rating.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2/dist/components/reset.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2/dist/components/reveal.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2/dist/components/rail.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2/dist/components/progress.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2/dist/components/accordion.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2/dist/components/ad.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2/dist/components/breadcrumb.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2/dist/components/checkbox.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2/dist/components/comment.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2/dist/components/container.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2/dist/components/dimmer.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2/dist/components/divider.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2/dist/components/dropdown.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2/dist/components/embed.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2/dist/components/flag.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2/dist/components/form.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2/dist/components/grid.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2/dist/components/header.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2/dist/components/icon.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2/dist/components/image.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2/dist/components/input.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2/dist/components/item.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2/dist/components/label.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2/dist/components/list.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2/dist/components/loader.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2/dist/components/menu.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2/dist/components/nag.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2/dist/components/placeholder.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2/dist/components/popup.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2/dist/components/feed.min.css">
  </head>
  <body>
    <div class="ui fixed inverted menu">
      <div class="ui container">
        <a href="{% url 'pages:home' %}" class="header item">
          <img class="logo" src="{% static 'favicon.png' %}">
        </a>
        <div class="ui simple dropdown item">
          More <i class="dropdown icon"></i>
          <div class="menu">
            <a class="item" href="{% url 'article_new' %}">New Post</a>
            <a class="item" href="{% url 'pages:home' %}">Home</a>
          </div>
        </div>
        <div class="right menu">
          {% if request.user.is_authenticated %}
            <a class="ui simple item" href="{% url 'logout' %}">
              Logout
            </a>
          {% else %}
            <div class="ui simple dropdown item">
              Accounts <i class="dropdown icon"></i>
              <div class="menu">
                <a class="item" href="{% url 'signup' %}">Sign-Up</a>
                <a class="item" href="{% url 'login' %}">Login</a>
              </div>
            </div>
          {% endif %}
        </div>
      </div>
    </div>
    <div class="ui main text container">
      <br>
      <br>
      {% block content %}
      {% endblock content %}
    </div>
    <div class="ui inverted vertical footer segment">
      <div class="ui center aligned container">
        <div class="ui inverted section divider"></div>
        <img src="{% static 'favicon.png' %}" class="ui centered mini image">
        <div class="ui horizontal inverted small divided link list">
          <a class="item" href="#">Site Map</a>
          <a class="item" href="email://admin@vik.fyi">Contact Us</a>
          <a class="item" href="{% url 'pages:tos' %}">Terms of Use</a>
          <a class="item" href="{% url 'pages:privacy' %}">Privacy Policy</a>
        </div>
      </div>
    </div>
  </body>
</html>
